/node_modules/
/dev-bun/
**/*.as.ts
**/*/test/
/test/
/deprecated/
/.vscode/
/proof-of-concept/
# /src/web/
.vivth
/dist/
/generated/types/proof-of-concept/
# prevent vivth unready file to be uploaded 
-*
*.test.*
/doesnotwork/
# ALWAYS INCLUDE THE README
!README.md